In [1]:
import pandas as pd
import arff
import numpy as np
import scipy as sp
import pandas as pd
import sklearn

In [3]:
df = pd.read_csv('tao-all2.txt', sep=" ", header=None)
df.columns = ['Observation','Year', 'Month', 'Day', 'Date', 'Latitude', 'Longitude', 'Zonal_Winds', 'Meridional_Winds', 'Humidity', 'Air_Temp', 'Sea_Surface_Temp']
df.head(40)

,Observation,Year,Month,Day,Date,Latitude,Longitude,Zonal_Winds,Meridional_Winds,Humidity,Air_Temp,Sea_Surface_Temp
0,1,80,3,7,800307,-0.02,-109.46,-6.8,0.7,.,26.14,26.24
1,2,80,3,8,800308,-0.02,-109.46,-4.9,1.1,.,25.66,25.97
2,3,80,3,9,800309,-0.02,-109.46,-4.5,2.2,.,25.69,25.28
3,4,80,3,10,800310,-0.02,-109.46,-3.8,1.9,.,25.57,24.31
4,5,80,3,11,800311,-0.02,-109.46,-4.2,1.5,.,25.3,23.19
5,6,80,3,12,800312,-0.02,-109.46,-4.4,0.3,.,24.72,23.64
6,7,80,3,13,800313,-0.02,-109.46,-3.2,0.1,.,24.66,24.34
7,8,80,3,14,800314,-0.02,-109.46,-3.1,0.6,.,25.17,24.14
8,9,80,3,15,800315,-0.02,-109.46,-3,1,.,25.59,24.24
9,10,80,3,16,800316,-0.02,-109.46,-1.2,1,.,26.71,25.94
10,11,80,3,17,800317,-0.02,-109.46,-0.1,0.7,.,27.28,26.65
11,12,80,3,18,800318,-0.02,-109.46,-1.2,2.3,.,26.86,27.13
12,13,80,3,19,800319,-0.02,-109.46,-4.1,-0.3,.,26.38,26.35
13,14,80,3,20,800320,-0.02,-109.46,-4.8,-0.8,.,26.19,25.87
14,15,80,3,21,800321,-0.02,-109.46,-5.2,2,.,26.08,25.38
15,16,80,3,22,800322,-0.02,-109.46,-2.7,2.7,.,26.24,.
16,17,80,3,23,800323,-0.02,-109.46,-4.4,1.1,.,26.05,.
17,18,80,3,24,800324,-0.02,-109.46,-4.3,0.7,.,25.67,.
18,19,80,3,25,800325,-0.02,-109.46,-3.8,0.5,.,25.39,.
19,20,80,3,26,800326,-0.02,-109.46,-3,0.2,.,25.17,.
20,21,80,3,27,800327,-0.02,-109.46,-3.2,-0.2,.,25.25,.
21,22,80,3,28,800328,-0.02,-109.46,-1.9,0.7,.,25.35,.
22,23,80,3,29,800329,-0.02,-109.46,-0.8,0.3,.,26.13,.
23,24,80,8,11,800811,0.00,-109.56,-3.3,1.5,.,21.48,21.81
24,25,80,8,12,800812,0.00,-109.56,-3.5,0.8,.,21.27,21.58
25,26,80,8,13,800813,0.00,-109.56,-4.9,1.9,.,21.11,21.32
26,27,80,8,14,800814,0.00,-109.56,-1.2,2.1,.,20.95,21.19
27,28,80,8,15,800815,0.00,-109.56,-1.2,2.7,.,21.76,21.47
28,29,80,8,16,800816,0.00,-109.56,-1.9,2.7,.,22.11,21.89
29,30,80,8,17,800817,0.00,-109.56,-4.2,0.7,.,21.69,21.85
30,31,80,8,18,800818,0.00,-109.56,-4.3,0.6,.,21.58,21.74
31,32,80,8,19,800819,0.00,-109.56,-5.1,1.4,.,21.45,21.7
32,33,80,8,20,800820,0.00,-109.56,-3.5,2.1,.,21.48,21.75
33,34,80,8,21,800821,0.00,-109.56,-4.9,2,.,21.61,21.7
34,35,80,8,22,800822,0.00,-109.56,-4.3,2.5,.,21.88,22.07
35,36,80,8,23,800823,0.00,-109.56,-7.2,3.7,.,22.07,22.32
36,37,80,8,24,800824,0.00,-109.56,-6.8,2.8,.,21.69,21.91
37,38,80,8,25,800825,0.00,-109.56,-5.1,3.3,.,21.83,21.96
38,39,80,8,26,800826,0.00,-109.56,-4.5,3.8,.,22.04,22.25
39,40,80,8,27,800827,0.00,-109.56,-3.8,3.7,.,22.36,22.61

In [46]:
del df['Observation']
del df['Date']
df.head()

,Year,Month,Day,Latitude,Longitude,Zonal_Winds,Meridional_Winds,Humidity,Air_Temp,Sea_Surface_Temp
0,80,3,7,-0.02,-109.46,-6.8,0.7,.,26.14,26.24
1,80,3,8,-0.02,-109.46,-4.9,1.1,.,25.66,25.97
2,80,3,9,-0.02,-109.46,-4.5,2.2,.,25.69,25.28
3,80,3,10,-0.02,-109.46,-3.8,1.9,.,25.57,24.31
4,80,3,11,-0.02,-109.46,-4.2,1.5,.,25.3,23.19

In [47]:
df['Humidity'] = df.apply(lambda x: float(x.Humidity) if x.Humidity != '.' and x.Humidity != None else None, axis=1)
df['Zonal_Winds'] = df.apply(lambda x: float(x.Zonal_Winds) if x.Zonal_Winds != '.' and x.Zonal_Winds != None else None, axis=1)
df['Meridional_Winds'] = df.apply(lambda x: float(x.Meridional_Winds) if x.Meridional_Winds != '.' and x.Meridional_Winds != None else None, axis=1)
df['Air_Temp'] = df.apply(lambda x: float(x.Air_Temp) if x.Air_Temp != '.' and x.Air_Temp != None else None, axis=1)
df['Sea_Surface_Temp'] = df.apply(lambda x: float(x.Sea_Surface_Temp) if x.Sea_Surface_Temp != '.' and x.Sea_Surface_Temp != None else None, axis=1)
df.head()

,Year,Month,Day,Latitude,Longitude,Zonal_Winds,Meridional_Winds,Humidity,Air_Temp,Sea_Surface_Temp
0,80,3,7,-0.02,-109.46,-6.8,0.7,NaN,26.14,26.24
1,80,3,8,-0.02,-109.46,-4.9,1.1,NaN,25.66,25.97
2,80,3,9,-0.02,-109.46,-4.5,2.2,NaN,25.69,25.28
3,80,3,10,-0.02,-109.46,-3.8,1.9,NaN,25.57,24.31
4,80,3,11,-0.02,-109.46,-4.2,1.5,NaN,25.30,23.19

In [48]:
df['Humidity'].fillna((df['Humidity'].mean()), inplace=True)
df['Zonal_Winds'].fillna((df['Zonal_Winds'].mean()), inplace=True)
df['Meridional_Winds'].fillna((df['Meridional_Winds'].mean()), inplace=True)
df['Air_Temp'].fillna((df['Air_Temp'].mean()), inplace=True)
df['Sea_Surface_Temp'].fillna((df['Sea_Surface_Temp'].mean()), inplace=True)
df.head()

,Year,Month,Day,Latitude,Longitude,Zonal_Winds,Meridional_Winds,Humidity,Air_Temp,Sea_Surface_Temp
0,80,3,7,-0.02,-109.46,-6.8,0.7,81.236525,26.14,26.24
1,80,3,8,-0.02,-109.46,-4.9,1.1,81.236525,25.66,25.97
2,80,3,9,-0.02,-109.46,-4.5,2.2,81.236525,25.69,25.28
3,80,3,10,-0.02,-109.46,-3.8,1.9,81.236525,25.57,24.31
4,80,3,11,-0.02,-109.46,-4.2,1.5,81.236525,25.30,23.19

In [49]:
df.to_csv('tao-cleaned.csv')